@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL */

h1,
h2,
span {
  color: #243e63;
  line-height: 1.25;
}

.wrapper {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  padding: 32px;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  padding: 96px 0;
}

.page__container {
  width: calc(100% / 2.4);
}

img {
  width: 100%;
}

h1 {
  font-size: 30px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

li {
  list-style-type: none;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.row2 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.row3 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.row4 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
}

.text--purple {
  color: #6415ff;
}

button {
  cursor: pointer;
}

.plan__btn,
.plan__btn--third,
.plan__btn--white {
  transition: all 300ms ease;
}
.plan__btn:hover,
.plan__btn--third:hover,
.plan__btn--white:hover {
  box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.15);
}

/* NAVIGATION */

nav {
  height: 100px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--lists {
  display: flex;
}

.nav__link--ancor {
  margin: 0 24px;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.35px;
}

.nav__link--ancor-primary,
.menu__link--ancor-primary {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 50px;
  color: #f7fafc;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

.nav__burger {
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
  width: 40px;
  height: 40px;
  display: none;
}

.menu__link--lists {
  margin: 0 24px;
  color: #243e63;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.35px;
}

.menu {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1000;
  margin: 24px 16px;
  border-radius: 8px;
  border-width: 1px;
  background-color: rgb(255 255 255);
  padding: 32px;
  visibility: hidden;
  transform: translateX(400%);
  transition: all 300ms ease;
  border: 1px solid rgb(229, 231, 235);
}

.menu__link--lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link--ancor {
  margin: 9px 0px;
  font-size: 18px;
  text-decoration: none;
}

.menu__link--ancor-primary {
  margin: 9px 0;
}

.nav__link--ancor-secondary {
  margin-left: 48px;
}

.nav__link--ancor-primary:hover {
  background-color: #4d13c0;
}

.menu__btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: rgb(255 255 255);
  border: none;
  cursor: pointer;
}

.menu--open .menu {
  visibility: visible;
  transform: translateX(0);
}

.web__icon {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.web__logo {
  font-weight: 900;
  display: flex;
  align-items: center;
  font-size: 24px;
  letter-spacing: 0.6px;
  color: #243e63;
  padding-bottom: 4px;
}

header .row {
  display: flex;
}

.page__container {
  width: calc(100% / 2.4);
}

.design__img--container {
  position: relative;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
}

.design__img {
  max-width: 768px;
  height: auto;
  height: 100%;
  max-height: 100vh;
  padding: 24px;
}

.page__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  color: rgb(26 32 44);
}

.page__para {
  font-size: 18px;
  margin: 32px 0;
  line-height: 1.5;
  color: #243e63;
}

.landing__email {
  position: relative;
  max-width: 448px;
  display: flex;
  align-items: center;
}

.landing__email--input {
  padding: 22px 0;
  padding-left: 32px;
  width: 100%;
  border-radius: 100px;
  border: 2px solid #e5e7eb;
  font-size: 16px;
  font-weight: 500;
}

.landing__email--input::placeholder {
  color: rgba(36, 62, 99, 0.5);
  font-weight: 600;
}

.landing__email--btn {
  position: absolute;
  right: 0;
  margin: 8px 8px 8px 0;
  padding: 14px 0;
  width: 160px;
  border-radius: 50px;
  border: none;
  background-color: #6415ff;
  font-size: 16px;
  color: #f7fafc;
  font-weight: bold;
  box-sizing: content-box;
  line-height: 1.5;
  transition: all 300ms ease;
}

.landing__email--btn:hover {
  background-color: #4d13c0;
  cursor: pointer;
}

.landing__customers {
  margin-top: 80px;
}

.customers--title {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.customer__img {
  opacity: 0.5;
  margin-top: 16px;
  padding-right: 128px;
}

/* FEATURE */

.feature__text--description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__text--description h2 {
  text-align: center;
}

.feature__subheader {
  font-weight: 700;
  letter-spacing: 1.6px;
  color: rgb(100, 21, 255, 1);
  margin-bottom: 16px;
}

.feature__header {
  font-size: 48px;
  font-weight: 900;
  opacity: 0.75;
  color: #000;
}

.feature__para {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
  text-align: center;
  max-width: 576px;
  color: rgb(124, 139, 161);
  margin-bottom: 40px;
}

.feature__item {
  width: calc(100% / 3);
  padding: 32px 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.feature__icon {
  padding: 20px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 100%;
  display: flex;
}

.feature__icon img {
  width: 24px;
  height: 24px;
}

.feature__description {
  margin-top: 8px;
  margin-left: 16px;
}

.feature__icon--title {
  font-size: 24px;
  font-weight: 700;
}

.feature__icon--text {
  font-size: 16px;
  font-weight: 500;
  max-width: calc(634px / 3);
}

.feature__display {
  display: flex;
  flex-wrap: wrap;
}

/* QUALITY */

.quality__text--description {
  max-width: 576px;
  width: 50%;
}

.quality__subheader {
  font-weight: 700;
  letter-spacing: 1.6px;
  color: rgb(100, 21, 255, 1);
  margin-bottom: 16px;
}

.quality__header {
  font-size: 48px;
  font-weight: 900;
  opacity: 0.75;
  color: #000;
}

.quality__para {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
  text-align: center;
  max-width: 576px;
  color: rgb(124, 139, 161);
  margin-bottom: 40px;
  text-align: left;
}

.quality__btn {
  margin-top: 48px;
  padding: 12px 32px;
  background-color: #6415ff;
  border-radius: 50px;
  color: #f7fafc;
  border: none;
  font-weight: 700;
  font-size: 14px;
  transition: all 300ms ease;
}

.quality__img,
.testimonials__img--wrapper {
  max-width: 640px;
}

.quality__img img {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  overflow: hidden;
}

/* STEPS */

.steps__img {
  max-width: 640px;
  width: 100%;
}

.steps__description {
  margin-left: 64px;
  max-width: 576px;
  width: 100%;
  margin-right: 0;
}

.steps {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.steps__wrapper {
  display: flex;
  flex-direction: column;
}

.steps__number {
  font-size: 36px;
  font-weight: 600;
  color: rgb(203, 213, 224);
  line-height: 36px;
}

.step__description {
  margin-left: 24px;
}

.steps__para {
  font-weight: 500;
  margin-top: 12px;
  font-size: 14px;
  max-width: 320px;
  line-height: 2;
  color: rgb(113, 128, 150);
}

.steps__subheader {
  font-weight: 700;
  letter-spacing: 1.6px;
  color: rgb(100, 21, 255);
}

.steps__header {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  color: #243e63;
}

.steps__title {
  color: #000;
  font-size: 48px;
  font-weight: 900;
  opacity: 0.75;
  margin: 16px 0;
}

/* VALUE */

.value__description {
  max-width: 576px;
  width: 100%;
  margin-right: 64px;
}

.value__subheader {
  font-weight: 700;
  letter-spacing: 1.6px;
  color: rgb(100, 21, 255, 1);
}

.value__title {
  font-size: 48px;
  font-weight: 900;
  opacity: 0.75;
  color: #000;
  margin-top: 18px;
}

.value__para {
  margin-top: 26px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
  text-align: center;
  max-width: 576px;
  color: rgb(124, 139, 161);
  text-align: left;
}

.value__display {
  display: flex;
  max-width: 576px;
}

.value {
  display: flex;
  flex-direction: column;
  margin: 32px 32px 0 0;
}

.value__items {
  display: flex;
  align-items: center;
}

.value__img--title {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(36, 62, 99);
}

.value__img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #9ae6b4;
  border-radius: 100%;
  overflow: hidden;
  width: 36px;
  height: 36px;
  color: rgb(39, 103, 73);
}

.value__img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 100%;
  overflow: hidden;
  background-color: rgb(254 178 178);
  color: rgb(155 44 44);
  width: 36px;
  height: 36px;
}

.value__img--para {
  text-align: left;
  margin-top: 16px;
  line-height: 1.625;
  color: rgb(113 128 150);
  font-weight: normal;
}

.value__btn {
  padding-top: 48px;
  padding: 12px 32px;
  background-color: #6415ff;
  border-radius: 50px;
  color: #f7fafc;
  border: none;
  font-weight: 700;
  font-size: 14px;
  transition: all 300ms ease;
}

/* PLANS & PRICING */

.price__description {
  width: 100%;
  max-width: none;
  margin-right: 0px;
  text-align: center;
}

.plan__border--line {
  border-top: 2px solid #e5e7eb;
  height: 0.01px;
  margin: 0 -32px;
  width: 800px;
}

.price__subheader {
  display: inline-block;
  margin-bottom: 16px;
  letter-spacing: 1.6px;
  font-weight: 700;
  font-size: 16px;
}

.price__title {
  font-size: 48px;
  font-weight: 900;
  opacity: 0.75;
  color: #000;
}

.price__para {
  margin: 0 auto;
  margin-top: 16px;
  font-size: 18px;
  color: #7c8ba1;
  line-height: 1.625;
  font-weight: 500;
  max-width: 576px;
}

.plans__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  overflow-x: hidden;
}

.plan {
  padding-top: 64px;
  padding-right: 32px;
  width: calc(100% / 3);
  flex-basis: 0;
  margin-bottom: 10px;
}

.plan__folder {
  width: 100%;
  padding: 8px 32px 0px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  align-items: center;
  border: 0.1px solid #e5e7eb;
  border-radius: 8px;
  position: relative;
}

.plan__folder--blue {
  width: 100%;
  padding: 8px 32px 0px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  align-items: center;
  border: 0.1px solid #e5e7eb;
  border-radius: 8px;
  position: relative;
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  background-color: rgb(100 21 255 / var(--tw-bg-opacity));
}

.plan__border--first {
  height: 8px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    118deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__border--third {
  height: 8px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
}

.plan__title {
  font-weight: 700;
  font-size: 20px;
  color: #1a202c;
  text-align: center;
  margin: 0 auto;
}

.plan__price {
  font-weight: 700;
  font-size: 48px;
  color: #1a202c;
  margin: 4px auto;
  text-align: center;
}

.plan__timeline {
  font-size: 16px;
  font-weight: 700;
  color: #a0ace0;
}

.plan__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  max-width: 384px;
  margin: 0 -32px;
  box-sizing: content-box;
}

.plan__feature--primary {
  font-size: 20px;
  color: #1a202c;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.plan__feature {
  margin-top: 20px;
  font-size: 16px;
  color: #718096;
  font-weight: 500;
  text-align: center;
}

.plan__btn--container {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan__btn {
  width: 60%;
  padding: 16px;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  font-family: 700;
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  transition: all 300ms ease;
}

.plan__btn--third {
  width: 60%;
  padding: 16px;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__folder {
  max-width: 384px;
  align-items: center;
}

.plan__folder--blue {
  max-width: 384px;
  align-items: center;
}

.plan__feature--primary,
.plan__feature {
  max-width: 320px;
}

.plan__header,
.plan__features,
.plan__btn--container {
  width: 100%;
}

.plan__title--white {
  color: #f7fafc;
  margin: 4px auto;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.plan__price--white {
  font-weight: 700;
  font-size: 48px;
  color: #f7fafc;
  text-align: center;
}

.plan__timeline--white {
  font-size: 16px;
  font-weight: 700;
  color: #f7fafc;
}

.plan__feature--primary--white {
  font-size: 20px;
  color: #f7fafc;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.plan__feature--white {
  margin-top: 20px;
  font-size: 16px;
  color: #f7fafc;
  font-weight: 500;
  text-align: center;
}

.plan__btn--white {
  width: 60%;
  padding: 16px;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  color: #f7fafc;
  background-color: rgb(247 250 252);
  color: rgb(100 21 255);
  font-size: 14px;
  font-weight: 700;
}

.plan__border--white {
  border-top: 2px solid rgb(102 126 234);
  opacity: 1;
  height: 0.01px;
  margin: 0 -32px;
  width: 800px;
}

/* TESTIMONIALS */

.testimonials__img--wrapper {
  max-width: 640px;
  width: 50%;
}

.testimonials__description {
  max-width: 640px;
  margin-right: 64px;
  margin: 0 auto;
  padding-left: 64px;
  font-size: 18px;
  text-align: left;
}

.testimonials__subheader {
  display: inline-block;
  margin-bottom: 16px;
  letter-spacing: 1.6px;
  font-weight: 700;
  font-size: 16px;
}

.testimonials__title {
  font-size: 48px;
  font-weight: 900;
  opacity: 0.75;
  color: #000;
}

.testimonials__para {
  margin-top: 16px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
  max-width: 576px;
  color: rgb(124, 139, 161);
}

.value__display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border-radius: 0px;
}

.testimonials__img1 {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  filter: invert(60%) sepia(50%) saturate(2000%) hue-rotate(20deg);
}

.testimonial__header {
  margin-top: 16px;
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.625;
}

.testimonial__para {
  margin: 16px 0px 40px 0px;
  color: rgb(74 85 104);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
}

.testimonial__para2 {
  margin: 16px 0px 40px 0px;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  text-align: left;
  max-width: 576px;
  color: rgb(74 85 104);
}

.testimonial__pointer--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__pointer {
  display: flex;
  margin: 0 auto;
  border: none;
  margin-left: 14px;
  margin-right: 14px;
  padding: 16px;
  background-color: rgb(237 242 247);
  color: rgb(100 21 255);
  border-radius: 100%;
  width: 48px;
  height: 48px;
}

.testimonial__pointer svg {
  height: 16px;
  width: 16px;
  stroke-width: 3;
}

.testimonial__end--container {
  display: flex;
  justify-content: space-between;
}

.testimonial__profile {
  display: flex;
  align-items: center;
}

.testimonial__img2 {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  overflow: hidden;
}

.testimonial__img2 img {
  width: 100%;
  height: 100%;
}

#testimonials__txt {
  text-align: left;
  margin: 0 auto;
  font-size: 16px;
}

.testimonial__profile {
  justify-content: space-between;
  text-align: center;
}

.testimonial__profile--description {
  margin-left: 24px;
}

.testimonial__profile--description span {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin: 0;
}

.testimonial__profile--description p {
  font-size: 16px;
  color: #7c8ba1;
  font-weight: 500;
  margin: 0;
}

/* START */

.start__container {
  background-color: #6415ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 282px;
  border-radius: 8px;
  margin-bottom: 80px;
}

.start__container--row {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1024px;
  padding: 0 32px;
}

.start__row1 {
  color: #f7fafc;
  font-size: 26px;
  font-weight: 700;
  width: 50%;
}

.start__row2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.start__row--btn {
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 16px;
  max-height: 66px;
  border: none;
  color: #f7fafc;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1 {
  margin-right: 32px;
  background-color: #f56f6f;
}

.btn2 {
  background-color: transparent;
  border: 1px solid rgba(160, 174, 192);
}

/* FOOTER */

footer {
  width: 100%;
  min-height: 522px;
  background-color: #6415ff;
  padding: 96px 32px;
}

footer .row {
  width: 100%;
  flex-direction: column;
  align-items: stretch;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__bar--title {
  font-size: 16px;
  color: #f7fafc;
  font-weight: 700;
}

.footer__bar--texts {
  margin-top: 24px;
}

.footer__bar--lists {
  display: block;
  margin-top: 12px;
  padding-bottom: 4px;
  color: #f7fafc;
  font-size: 14px;
  font-weight: 500;
}

.footer__border {
  margin-top: 64px;
  margin-bottom: 64px;
  border-bottom: 2px solid rgb(116 44 255);
  width: 100%;
  height: 2px;
}

.footer__end--logo {
  display: flex;
  align-items: center;
}

.footer__end {
  display: flex;
  justify-content: space-between;
}

.footer__end--logo img {
  width: 32px;
  height: 32px;
}

.footer__end--logo h3 {
  font-size: 20px;
  color: #f7fafc;
  margin-left: 8px;
  font-weight: 900;
}

.footer__copyright--para {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: rgb(203 213 224);
}

.footer__links {
  display: flex;
}

.footer__link {
  padding: 8px;
  border-radius: 100%;
  background-color: #f7fafc;
  display: flex;
  margin-right: 16px;
}

.footer__link svg {
  width: 16px;
  height: 16px;
  color: #000;
}

/* MEDIA */

@media (max-width: 992px) {
  .web__logo {
    margin: 8px 0;
  }
  header .row3{
    flex-direction: column;
  }
  .nav__link--lists {
    display: none;
  }
  .nav__burger {
    display: inline;
  }
  .page__title {
    font-size: 30px;
    text-align: center;
  }
  .page__container {
    max-width: 512px;
    width: 100%;
  }
  .page__para {
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
  }
  .landing__email {
    margin: 0 auto;
  }
  .landing__email--input::placeholder {
    font-size: 16px;
  }
  .landing__customers {
    margin-top: 48px;
  }
  .customers--title {
    text-align: center;
    font-size: 14px;
  }
  .customer__img {
    padding: 0;
    margin: 0 auto;
  }
  .design__img--container {
    max-width: 512px;
    margin-top: 48px;
  }
}

@media (max-width: 992px) {
  .feature__item {
    width: 50%;
  }
  .feature__text--description p
  .price__para {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .landing__email {
    display: block;
  }
  .landing__email--btn {
    position: static;
    width: 100%;
    padding: 16px 0px;
    margin: 16px 0px;
  }
}

@media (max-width: 992px) {
  h1 {
    color: red;
  }
  .feature__text--description h2,
  .quality__text--description h2,
  .steps__description h2,
  .value__description h2,
  .testimonials__description h2,
  .price__title  h2 {
    font-size: 36px;
  }
  .feature__text--description p,
  .quality__text--description p,
  .testimonials__para2 {
    font-size: 16px;
  }
  .value__display {
    flex-direction: column;
  }
  .plans__container {
    flex-direction: column;
    align-items: center;
  }
  .plan {
    width: 100%;
    overflow: visible;
    display: flex;
    justify-content: center;
  }
  .plan {
    padding-right: 0px;
  }
  .plan:last-child {
    margin-bottom: 5%;
  }
  .plan__folder {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #testimonials h2 {
    font-size: 36px;
  }
  #testimonials .quality__description,
  .testimonials__description {
    flex: 1;
  }
}

@media (max-width: 992px) {
  .start__container--row {
    flex-direction: column;
    align-items: center;
  }
  .start__row1 {
    text-align: center;
    width: 100%;
    max-width: 512px;
  }
  .start__row2 {
    justify-content: center;
    width: 100%;
    max-width: 512px;
    align-items: flex-end;
    margin-top: 24px;
  }
  .start__row--btn {
    height: 58px;
    padding: 16px 32px;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  feature__text--descriptionp,
  .value__para,
  .testimonial__para {
    font-size: 14px; 
  }
  .feature__item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .price__para {
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 80px 0px;
  }
  .row3, .row {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .row2 {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .value__img3 img {
    width: 100%;
  }
  .value__img3 img,
  .quality__img img {
    max-width: 448px;
    height: auto;
  }
  .value__para {
    text-align: center;
    margin-bottom: 0;
    margin-top: 16px;
  }
  .quality__description,
  .value__description,
  .testimonials__img--wrapper {
    max-width: 448px;
    margin-right: 0;
  }
  .quality__text--description, 
  .value__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    max-width: 448px;
  }
  .testimonials__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 100%;
  }
  .quality__text--description p,
  .testimonials__para  {
    text-align: center;
    font-size: 14px;
  }
  #steps__landing .row {
    flex-direction: column;
  }
  .steps__img img {
    width: 100%;
    max-width: 448px;
  }
  .steps__img {
    display: flex;
    justify-content: center;
  }
  .steps__description {
    width: 100%;
    max-width: 448px;
    margin-left: 0px;
    text-align: center;
    margin-top: 50px;
  }
  .steps__description h2 {
    margin-top: 16px;
  }
  .steps {
    flex-direction: column;
    align-items: center;
  }
  .step__description {
    margin-left: 0px;
    margin-top: 12px;
  }
  .value__items {
    justify-content: center;
  }
  .value__img--para {
    max-width: 320px;
    text-align: center;
  }
  .value {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  #testimonials .row3 {
    flex-direction: column;
  }
  #testimonials .testimonials__description {
    padding: 0;
    padding: 0 30px;
    margin: 64px 116px;
  }
  .testimonials__description,
  .testimonials__description p{
    text-align: center;
  }
  #testimonials .testimonials__img--wrapper,
  .quality__img--wrapper {
    width: 100%;
  }
  .testimonials {
    width: calc(100% / 2.4);
  }
}

@media (max-width: 768px) {
  .footer__columns {
    justify-content: flex-start;
  }
  .footer__bars {
    width: calc(100% / 3);
    margin-top: 48px;
  }
}


@media (max-width: 768px) {
  .footer__end {
    flex-direction: column;
    align-items: center;
  }
  .footer__copyright {
    margin-top: 32px;
  }
  .footer__links {
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  #value__para {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .plan__folder {
    margin: 0px 10px;
  }
}

@media (max-width: 576px) {
  .quality__text--description h2,
  .steps__description h2,
  .testimonials__description h2,
  .value__description h2,
  .price__title  {
    font-size: 30px;
  }
}


@media (max-width: 576px) {
  .testimonial__profile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonial__img2 {
    display: flex;
    justify-content: center;
  }
  .testimonial__profile--description{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonial__end--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .testimonial__pointer--wrapper {
    display: flex;
    margin-top: 32px;
  }
}


@media (max-width: 576px) {
  .start__container {
    padding: 80px 0;
  }
  .start__row1 h3 {
    font-size: 24px;
  }
  .start__row--btn {
    font-size: 14px;
    max-height: 47px;
  }
  .btn1 {
    margin: 0px;
  }
  .btn2 {
    margin-top: 16px;
  }
  .start__row2 {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .footer__columns {
    justify-content: center;
  }
  .footer__bars {
    width: calc(100% / 5);
    min-width: 100px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .footer__copyright {
    font-size: 14px;
  }1
}
